* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: hsl(235, 21%, 11%);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 30px;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

.new-todo {
    background-color: hsl(235, 21%, 11%);
    height: 70px;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}

.check {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark:hover {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input {
    width: 100%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(234, 39%, 85%);
    font-size: 18px;
}

.new-todo-input input::placeholder {
    color: hsl(233, 14%, 35%);
}

.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    border-bottom: hsl(237, 14%, 26%);
    color:  hsl(234, 39%, 85%);
    font-size: 18px;
    transition: all 0.25s ease;
    display: flex;
    cursor: pointer;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

.todo-text {
    display: flex;
    align-items: center;

}

.todo-items-wrapper {
    margin-top: 30px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}

.todo-items-info {
    height: 70px;
    width: 100%;
    color: hsl(233, 14%, 35%);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

.items-statuses {
    display: flex;
    justify-content: center;;
}

.items-statuses span {
    padding: 0 5px;
    cursor: pointer;
}

.items-statuses span:hover, .items-statuses span.active, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}

.items-clear {
    cursor: pointer;
    text-align: end;
}